extends layout

block content
 	ul(class="row large-6 large-centered columns")
  		li  
   			div(class="projects gradient-pattern")
	   			h1  Greeting Human!
	   			p   Im sure I'll get around to writing something more here later. For the time being if you see this and are not a robot, congrantulations on being alive! 