extends layout

block content
    ul(class="row large-6 large-centered columns")
        li  
            div(class="projects gradient-pattern")

                p   And it may be crazy but I'm
                p   The closest thing I have
                p   To a voice of reason