extends layout

block content
 div(class="spacer")
 ul(class="row large-6 large-centered columns")
  li  
   div(class="projects gradient-pattern")
    h1  Projects for Tyson
    ul
     li
      a(href="http://baldwin.codes:8000") Word Ladder
     li
      a(href="http://baldwin.codes/image") Social Image 





