extends layout

block content
    ul(class="row large-6 large-centered columns")
        li
            div(class="projects gradient-pattern")
                h1  Projects for Tyson
                p   Web Development, CSUC fall 2015
                ul
                    li
                        a(href="http://baldwin.codes/wladder") Word Ladder
                    li
                        a(href="http://baldwin.codes/wbib") Wbib
                    li
                        a(href="http://baldwin.codes/img") Social Image
