doctype html
html
  head
    title = {{title}}
  |<div class="top-bar">
  | <ul class="title-area">
  |      <li class="name"></li>
  |      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  |  </ul>
  |  <section class="top-bar-section">
  |      <ul class="left">
  |          <li class="active"><a href="/">Home</a></li>
  |          <li><a href="/about">About</a></li>
  |          <li><a href="/projects">Projects</a></li>
  |          <li><a href="/robots">Robots</a></li>
  |          <li><a href="/blog">Blog</a></li>
  |          <li><a href="#">Contact</a></li>
  |      </ul>
  |      <ul class="right"></ul>
  |  </section>
  |</div>
link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='http://cdn.foundation5.zurb.com/foundation.css')
script(src='https://code.jquery.com/jquery-2.1.4.min.js') 
script(src='http://cdn.foundation5.zurb.com/foundation.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
body
  
  div(class="spacer")

  block content


script(src='javascripts/app.js')
script(src='js/services.js')
script(src='js/controllers.js')
script(src='js/filters.js')
script(src='js/directives.js')
