extends layout

block content
 div(class="spacer")
 ul(class="row large-6 large-centered columns")
  li  
   div(class="projects gradient-pattern")
    h1  Projects I've been working on
    ul
     li
      h3  a(href="http://acme-devel.llnl.gov/acme/") ACME web front end
      p   I worked on this project for the Lawrence Livermore National Lab from January 2015, until the middle of August. 
          This was my first real web project, so now when I go back and look at it I spend the first couple minutes just cringing at my crappy javascript. I loved working on this, and my mentor at LLNL couldn't have done a better job of setting me up to really enjoy it. They gave me a huge project, using a ton of technology I'd never heard of before, and just left me the hell alone to run with it.
     lig
      h3  Intellegent Ground Vehicle
      p   This is a project for the American Institute of Mechatronic Engineers. I worked as the lead programmer from my first week on campus as Chico State, until I left to work for LLNL. Unfortunatelly the project was not able to make it to competition for organizational reasons, but for me, the time spent on it was a fantastic learning experiance, not only in the technical details learned, but also what its like to work on a diverse team.
      iframe(height="30%" width="30%" src="https://www.facebook.com/video.php?v=757830670962536")


