extends layout

block content
    ul(class="row large-6 large-centered columns")
        li  
            div(class="projects gradient-pattern")
                ul
                    li
                        h3  Intellegent Ground Vehicle
                            p   This is a project for the American Institute of Mechatronic Engineers. The project was to create a small vehicle able to navigate itself through an obsticle course. I worked as the lead programmer from my first week on campus as Chico State, until I left to work for LLNL. Unfortunatelly the project was not able to make it to competition for organizational reasons, but for me, the time spent on it was a fantastic learning experiance, not only in the technical details learned, but also what its like to work on a diverse team.
                            
                            |<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="https://www.facebook.com/video.php?v=757830670962536&amp;set=vb.161637173915225&amp;type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/video.php?v=757830670962536"><a href="https://www.facebook.com/video.php?v=757830670962536"></a><p>Wo there world,  look out here comes Gir! Controlled over wireless ethernet and a Xbox 360 controller. Props to Sterling and all his hard work.  New amplifier still needs some adjustments, but programming team can now test their code. This was the last IGV meeting of the semester. Well be announcing next semester meeting times in January. Have a good break and good luck with finals!</p>Posted by <a href="https://www.facebook.com/pages/American-Institute-of-Mechatronic-Engineers-AIME/161637173915225">American Institute of Mechatronic Engineers (AIME)</a> on Friday, 12 December 2014</blockquote></div></div>