body {
  background-color: black!important;
  background-image: url('/images/gridbg_glow.png')!important;
  background-repeat: repeat!important;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
